.frame {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  margin-top: 50px;
  border: 3px solid black;
  height: 1000px;
}
body {
  border-right: 1px solid #d3f1f8;
}
input {
  font-size: 30px;
}

.header {
  width: 1200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
  border-bottom: 1px solid #d3f1f8;
}
.title_underline {
  margin-top: 3px;
  height: 3px;
  border-top: 3px solid #d3f1f8;
  border-bottom: 1px solid #d3f1f8;
}

.home_img__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_img__center .home_img {
  margin: 50px auto;
  width: 900px;
}

.home_main__link {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.gotobuy_btn,
.insurance_btn {
  background-color: #d3f1f8;
  width: 400px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
