.password_check {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.password_check .password_check__input {
  margin-left: 20px;
}

.password_btn {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.password_check__btn {
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: #d3f1f8;
}
